/* 3rd party packages */
@import "normalize.css";
@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

/* SASS and Global'ish Stuff */
@import "base/variables";
@import "base/baseline";
@import "base/utility-classes";

/* BEM Blocks */
@import "modules/shame";
@import "modules/login";
@import "modules/btn";
@import "modules/site-header";
@import "modules/site-footer";
@import "modules/main-navigation";
@import "modules/page-banner";
@import "modules/search-overlay";
@import "modules/generic-content";
@import "modules/full-width-split";
@import "modules/page-links";
@import "modules/link-list";
@import "modules/post-item";
@import "modules/home";
@import "modules/profile";
@import "modules/login-member";
@import "modules/default-page";
@import "modules/course";
@import "modules/datalearns";

.mt40 {
  margin-top: 40px;
}

.llms-course-continue-button,
.llms-course-complete-text {
  display: block;
  width: fit-content;
  margin: 10px auto 0;
  text-align: center;
}
