.skills-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-content {
  flex: 1;
}

.skills-content .highlight-1 {
  font-weight: bold;
  color: #1e73be;
}

.skills-content .highlight-2 {
  color: #28a745;
}

.skills-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-top: 20px;
  color: #ffffff;
}

.skills-image {
  flex: 1;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.skills-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 530px) {
  .skills-section {
    display: block;
  }

  .skills-content {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .skills-content p {
    font-size: 1rem;
  }

  .skills-image img {
    display: none;
  }
}

@media (max-width: 767px) {
  .skills-section {
    display: block;
  }

  .skills-content p {
    font-size: 1.1rem;
  }

  .skills-image img {
    display: none;
  }
}

@media (max-width: 960px) {
  .skills-content p {
    font-size: 1.15rem;
  }

  .skills-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
