.login {
  width: 100%;
  display: flex;
  height: 100vh;
  background-image: url("../images/img_default_bg_profile.png");
}

.image-login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-wrapper {
  width: 100vw;
  background-color: white;
  padding: 40px;
  margin: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  .content {
    max-height: 85%;
    overflow-y: auto;
  }
}

.logo-login,
.image-login {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-login img,
.logo-login img {
  max-width: 80%;
  height: auto;
}

@media (max-width: 570px) {
  .login {
    flex-direction: column;
    height: 100%;
  }

  .image-login-container {
    order: -1;
    height: 20vh;
  }
  .login-form-wrapper {
    order: 0;
    border-top-left-radius: 70px;
    height: 100vh;
  }

  .image-login img {
    content: url("../images/datalearns247-logo-white-small-notagline.png"); // Use a smaller image
  }

  .login-form-wrapper {
    margin: 0px;
  }
}
