.site-header {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .current-menu-item a {
    color: #337ab7;
  }
  .search-trigger {
    color: #000000;
  }

  .site-header__menu-trigger,
  .site-header__search-trigger {
    color: #000000;
  }

  &.fixed-header {
    position: fixed;
  }

  a {
    transition: color 0.3 ease;

    &.fixed-header a {
      color: #000;
    }
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__avatar img {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    background-color: adjust-color(#e4e4e4, $alpha: -0.11, $lightness: -1%);
    left: 0;
    right: 0;
    top: -20px;
    padding-top: 120px;
    opacity: 0;
    transform: translateY(-20%);
    transition:
      opacity 0.3s ease-out,
      visibility 0.3s ease-out,
      transform 0.3s ease-out;
    padding-bottom: 20px;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      z-index: 5;
    }

    @include atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: static;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
      margin-left: auto;
    }
  }

  &__search-trigger {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 6px;
    right: 16px;

    @include atSmall {
      top: 4px;
      font-size: 1.4rem;
    }

    @include atMedium {
      display: none;
    }
  }

  &__menu-trigger {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 46px;

    @include atSmall {
      top: 5px;
      font-size: 1.4rem;
    }

    @include atMedium {
      display: none;
    }
  }

  &__search-trigger,
  &__menu-trigger {
    color: white;
  }

  &__util {
    padding: 0 0 0 20px;

    @include atMedium {
      padding: 0;
      float: right;
    }
  }

  &__btn {
    margin-right: 20px;
    @include atMedium {
      float: left;
    }
  }

  .btn--with-photo {
    margin-right: 0;
    background-color: #ff0000;
  }

  .btn-login {
    background-color: #34a3bc;
  }

  .btn-login:hover {
    background-color: #399cb3;
  }
  .fa-chevron-down {
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
    font-weight: normal;
    transition: transform 0.3s ease;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .site-header__menu > nav > ul > li:hover .submenu {
    display: block;
    opacity: 1;
  }

  .submenu li {
    width: 90%;
    padding: 8px 8px;
  }

  .submenu li a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 100%;
  }

  .submenu li:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #007bff;
  }

  .site-header__menu > nav > ul > li {
    position: relative;
  }
}

@media (max-width: 960px) {
  .site-header {
    &.fixed-header {
      .search-trigger {
        color: #000000;
      }

      .site-header__menu-trigger,
      .site-header__search-trigger {
        color: #000000;
      }
    }

    a {
      transition: color 0.3 ease;

      &.fixed-header a {
        color: #000;
      }
    }
  }
}
